.header {
  display: block;
}

.header__logo {
  padding: 25px 0;

  margin-right: 25px;

  @include viewport--sm {
    padding-bottom: 16px;
  }
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include viewport--sm {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
